.gallery__like-button{
    padding: 21px;
    display: inline-block;
    margin: 0;
    margin-right: 5px;
    text-decoration: none;
    background: #FFFFFF;
    cursor: pointer;
    background-image: url(../../../images/heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    -webkit-box-shadow: 0;
            box-shadow: 0;
    border: none;
    -webkit-transition: background-image opacity .5s ease-in-out;
    -o-transition: background-image opacity .5s ease-in-out;
    transition: background-image opacity .5s ease-in-out;    
}
.gallery__like-button:hover{
    opacity: .6;
}
.gallery__like-button:focus{
    outline:none;
}
