.form__input{
  font-weight: normal;
  width: 358px;
  font-size: 14px;
  line-height: 17px;
  background-color: #000000;
  color: #ffffff;
  border: 0;
  border-bottom: 1px solid #CCCCCC;
  margin: 30px auto 0;
  padding: 0;
}


@media screen and (max-width:450px){
  .form__input{
      font-size: 12px;
      line-height: 15px;
  }
}